     <!--==========================
      Seccion Principal
    ============================-->
 
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="assets/img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Brindamos<br><span>Soluciones</span><br>Para tu negocio!</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Conocenos</a>
          <a href="#services" class="btn-services scrollto">Nuestros Servicios</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">
 
 <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
  
          <header class="section-header">
            <h3>Sobre Nosotros</h3>
            <p>Somos una empresa líder en el campo del desarrollo web, especializada en ofrecer soluciones personalizadas y de alta calidad a nuestros clientes. Con un equipo altamente capacitado y apasionado por la tecnología, nos enfocamos en crear sitios web modernos, funcionales y visualmente atractivos que impulsen el crecimiento y el éxito de nuestros clientes en línea.</p>
          </header>
  
          <div class="row about-container">
  
            <div class="col-lg-6 content order-lg-1 order-2">
              <p>
                Nuestro enfoque centrado en el cliente y nuestra experiencia en el sector nos convierten en el socio ideal para aquellos que buscan destacar en el mundo digital.
              </p>
  
              <div class="icon-box wow fadeInUp">
                <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                <h4 class="title"><a href="">Soluciones personalizadas</a></h4>
                <p class="description">Nuestro enfoque se basa en ofrecer soluciones personalizadas que se adaptan a las necesidades específicas de cada cliente.</p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon"><i class="fa fa-photo"></i></div>
                <h4 class="title"><a href="">Alta Calidad</a></h4>
                <p class="description">Nuestra prioridad es entregar servicios web de alta calidad, garantizando rendimiento, usabilidad y diseño excepcionales.</p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-bar-chart"></i></div>
                <h4 class="title"><a href="">Webs Modernas</a></h4>
                <p class="description">Creamos sitios web modernos que combinan diseño vanguardista y funcionalidad avanzada para ofrecer una experiencia atractiva y contemporánea a los usuarios.</p>
              </div>
  
            </div>
  
            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
              <img src="assets/img/about-img.svg" class="img-fluid" alt="">
            </div>
          </div>
  
          <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp">
              <img src="assets/img/about-extra-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
              <h4>Web innovadoras que impulsan el éxito en línea.</h4>
              <p>
                Desarrollamos sitios web modernos que unen diseño vanguardista y funcionalidad avanzada para brindar una experiencia atractiva y contemporánea a los usuarios.
              </p>
              <p>
                Nuestro equipo altamente capacitado y apasionado se enfoca en desarrollar sitios web modernos, funcionales y atractivos que impulsan el crecimiento y el éxito en línea de nuestros clientes.
              </p>
            </div>
          </div>
  
          <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
              <img src="assets/img/about-extra-2.svg" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
              <h4>Transformando la web con innovación.</h4>
              <p>
                Desarrollamos sitios web modernos, innovadores y atractivos, uniendo diseño vanguardista y funcionalidad avanzada para brindar una experiencia única a los usuarios. 
              </p>
              <p>
                Nuestro equipo altamente capacitado y apasionado trabaja en estrecha colaboración con los clientes, creando soluciones web personalizadas y de alta calidad que impulsan el crecimiento en línea.
              </p>
              <p>
                Somos socios en el éxito en línea, optimizando los sitios web para buscadores y dispositivos, y brindando mantenimiento continuo y actualizaciones para asegurar eficiencia y seguridad.
              </p>
            </div>
            
          </div>
  
        </div>
      </section><!-- #about -->
  
      <!--==========================
        Services Section
      ============================-->
      <section id="services" class="section-bg">
        <div class="container">
  
          <header class="section-header">
            <h3>Servicios</h3>
            <p>Impulsamos tu éxito en línea con servicios personalizados y soluciones innovadoras. Nuestro equipo altamente capacitado ofrece desarrollo web, diseño gráfico y optimización. Confía en nosotros para resultados excepcionales en el mundo digital.</p>
          </header>
  
          <div class="row">
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                <h4 class="title"><a href="">Desarrollo Web</a></h4>
                <p class="description">Ofrecemos servicios de desarrollo web personalizados, creando soluciones digitales a medida que cumplen con las necesidades y objetivos específicos de nuestros clientes.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
                <h4 class="title"><a href="">Diseño Grafico</a></h4>
                <p class="description">Nuestros servicios de diseño gráfico se enfocan en crear elementos visuales atractivos y profesionales que potencian la identidad de marca y mejoran la comunicación visual de nuestros clientes.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                <h4 class="title"><a href="">Optimización</a></h4>
                <p class="description">Nuestros servicios de optimización se centran en mejorar el rendimiento y la visibilidad en línea de los sitios web, implementando estrategias efectivas de SEO y optimizando la experiencia del usuario para impulsar el tráfico y los resultados de búsqueda.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                <h4 class="title"><a href="">Capacitación</a></h4>
                <p class="description">Nuestros servicios de capacitación están diseñados para brindar conocimientos y habilidades a nuestros clientes, permitiéndoles aprovechar al máximo las herramientas y tecnologías digitales, y potenciar así su presencia en línea de manera autónoma.</p>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- #services -->
  
      <!--==========================
        Team Section
      ============================-->
      <section id="team">
        <div class="container">
          <div class="section-header">
            <h3>Equipo</h3>
            <p>Nuestro equipo altamente capacitado y experimentado se dedica a brindar soluciones y servicios de alta calidad, asegurando un enfoque personalizado y resultados excepcionales para cada proyecto.</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6 wow fadeInUp">
              <div class="member">
                <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Nelson Castro</h4>
                    <span>Diseñador Web</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="member">
                <img src="assets/img/team-2.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Maria Gutman</h4>
                    <span>Programadora</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
              <div class="member">
                <img src="assets/img/team-3.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Nicolas Santos</h4>
                    <span>Lic. en Marketing</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="member">
                <img src="assets/img/team-4.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Sabrina Cora</h4>
                    <span>Ingeniera en Sistemas</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #team -->
  
      <!--==========================
        Contact Section
      ============================-->
      <section id="contact">
        <div class="container-fluid">
  
          <div class="section-header">
            <h3>Contacto</h3>
          </div>
  
          <div class="row wow fadeInUp">
  
            <div class="col-lg-6">
              <div class="map mb-4 mb-lg-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="row">
                <div class="col-md-5 info">
                  <i class="ion-ios-location-outline"></i>
                  <p>A108 Adam Street, NY 535022</p>
                </div>
                <div class="col-md-4 info">
                  <i class="ion-ios-email-outline"></i>
                  <p>info@example.com</p>
                </div>
                <div class="col-md-3 info">
                  <i class="ion-ios-telephone-outline"></i>
                  <p>+1 5589 55488 55</p>
                </div>
              </div>
  
              <div class="form">
                <div id="sendmessage">Tu mensaje ha sido enviado. ¡Muchas Gracias!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                  <div class="form-row">
                    <div class="form-group col-lg-6">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                      <div class="validation"></div>
                    </div>
                    <div class="form-group col-lg-6">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                  </div>
                  <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                </form>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #contact -->    
      
      <!--==========================
        Portfolio Section
      ============================-->
      <section id="portfolio" class="clearfix">
        <div class="container">
  
          <header class="section-header">
            <h3 class="section-title">Nuestro Portfolio</h3>
          </header>
  
          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/app1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">App 1</a></h4>
                  <p>App</p>
                  <div>
                    <a href="assets/img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/web3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Web 3</a></h4>
                  <p>Web</p>
                  <div>
                    <a href="assets/img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/app2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">App 2</a></h4>
                  <p>App</p>
                  <div>
                    <a href="assets/img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/card2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Card 2</a></h4>
                  <p>Card</p>
                  <div>
                    <a href="assets/img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/web2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Web 2</a></h4>
                  <p>Web</p>
                  <div>
                    <a href="assets/img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/app3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">App 3</a></h4>
                  <p>App</p>
                  <div>
                    <a href="assets/img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/card1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Card 1</a></h4>
                  <p>Card</p>
                  <div>
                    <a href="assets/img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/card3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Card 3</a></h4>
                  <p>Card</p>
                  <div>
                    <a href="assets/img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/web1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Web 1</a></h4>
                  <p>Web</p>
                  <div>
                    <a href="assets/img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #portfolio -->
  
    </main>